<% include _header %> 
<h2>
  Seleziona la modalità di lavoro:
</h2>

<a href="/orders" class="btn btn-primary pull-left">
    Vai alla gestione ordini
</a>
</br>
</br>
<a href="/stats" class="btn btn-primary pull-left">
    Vai alle statistiche
</a>

<% include _footer %>