<% include _header %> 
<div class="page-header">
  <h1>Home <small>Seleziona la modalità di lavoro</small></h1>
</div>

<a href="/orders" class="btn btn-primary pull-left">
    Vai alla gestione ordini
</a>
</br>
</br>
<a href="/stats" class="btn btn-primary pull-left">
    Vai alle statistiche
</a>

<% include _footer %>