<% include _header  %>
  <div class="page-header">
    <h1>Statistiche <small>Visualizza le richieste degli ordini</small></h1>
  </div>

  <div class="dropdown ">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Seleziona la Statistica
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% for (var [key, value] of mappaIngredienti) { %>
        <li><a href="/stats/<%= key %>"><%= value %></a></li>
      <% } %>

    </ul>
  </div>

  <div class="statistics">
    <% stats.forEach((stat)=>{ %>
      <h3> Le richieste negli ordini in arrivo per <span class="Request-Color"><%= stat.ingrediente%></span> sono: <%= stat.QuantitaTot %></h3>

    <% }) %>
  </div>

<% include _footer %>